tab-pane .tab {
    -fx-background-color: linear-gradient(to bottom, repeat, #CCCCCC, #808080);
    -fx-pref-width: 150.0;
}

/*.tab-pane > .tab-header-area > .headers-region  {*/
/*    -fx-alignment: CENTER;*/
/*}*/

/*.tab-pane > .tab-header-area > .headers-region > .tab  {*/
/*    -fx-alignment: CENTER;*/
/*    -fx-pref-width: 150.0;*/
/*    -fx-text-fill: -fx-text-base-color;*/
/*    -fx-background-color: #fff;*/
/*    -fx-border-color: #dfe1e6;*/
/*    -fx-border-radius: 0;*/
/*}*/

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-pref-width: 150.0;
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: #fff;
    -fx-border-color: #dfe1e6;
    -fx-cursor: default;
    -fx-border-radius: 0;
    /*f*/
    /*margin-bottom: -1px;*/
    /*padding-bottom: 9px;*/
}